*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
    list-style: none;
}
p{
    margin:0.75rem 0
}
audio{
    
}
/* utility classes 通用类型 */
.icolor{
    color: #f4f4f4;
    font-size: 10px;
}
#home .home-content i{
    font-size: 35px;
    padding: 5px 0;
    padding-right: 10px;
}
.text-primary{
    color: #93cb52;
}
.text-center{
    text-align: center;
}
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
.bg-primary{
    background-color: #93cb52;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.paddingy-1{
    padding: 1.5rem 0;
}
.padding-1{
    padding: 1.8rem;
}

/* .paddingy-1{
    padding: 1.5rem 0;
}
.paddingy-1{
    padding: 1.5rem 0;
} */
.btn{
    display: inline-block;
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    transition: all .5s;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.btn:hover{
    background-color: orange;
}
.list{
    list-style: none;
    margin: 0.5rem 0;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 solid 1px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 rem;
    overflow: hidden;
}
/* nav */
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar ul li a:hover{
    border-radius: 5px;
    background-color: #93cb52;
}
/* header-home */
#home{
    background: url(/img/header.jpg)no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}
#home .home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0 ,0,0.4);
}
#home .home-content p{
    color: px;
    font-weight: 700;
}
/* section What We Do */
#what .items{
    display: flex;
    padding: 1rem;
}
#what .items .item{ 
    flex: 1;
    text-align:center ;
}
#what .items .item i{
    background-color: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
/* Section:who we are */
#who{
    display: flex;
}
#who div{
    flex: 1;
    flex-basis: 50%;
}
#who .who-img{
    background: url(/img/header.jpg) no-repeat center center/cover;
}
/* section:clients */
#clients .items{
    display: flex;
}
#clients .items img{
    display: block;
    margin: 0 auto;
    width: 60%;
}
/* secition:contact */
#contact{
    display: flex;
}
#contact .contact-form,
#contact .contact-img{
    flex:1;
}
#contact .contact-img{
    background: url(/img/header.jpg)no-repeat center center/cover;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form .form-group{
    display: block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}