/* BILI二级菜单*/
#navbar .container .bili-li ul li{
display: flex;
flex-direction: column;
height: 10px;
color: red;
}   
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 主体样式 */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
/* 通用样式 */
.container{
    margin: 0 auto;
    max-width: 1300px;
    overflow:hidden;
    padding: 0 20px;
    
}
#navbar .container h1 a{
    background: linear-gradient(to right, #90F7EC,#32CCBC);
    -webkit-background-clip: text;
    color: transparent;
}
.text-primary{
    background: linear-gradient(to right, greenyellow,lightblue);
    -webkit-background-clip: text;
    color: transparent;
    
}
.bg-dark{
    background-color: #444;
    color: #fff;
}
/* 清除浮动，因为下三栏左浮动了导致底部会出现自动上行所以要清除浮动 */
.clr{
    clear: both;
}
.color{
    color: darkgray;
}
audio{
    margin-bottom: 27px;
}
.py{
    padding: 10px 0;
}
.l-heading{
    font-size: 40px;
    padding-top: 120px;
}
/* 万圣节跳转样式 */
.Halloween a{
    padding: 0px 20px;
    color: greenyellow;
    text-decoration: none;
    list-style: none;
}
.Halloween a:hover{
    color: cornflowerblue;
}
/* 导航栏样式 */
#navbar{
    background: rgba(54, 52, 51,0.7);
    color: #fff;
    /* overflow: auto; */
    position: fixed;
    width: 100%;
    height: 67px;
    z-index: 2;
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    padding-top:20px;
}
#navbar ul{
    float: right;
    list-style: none;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 19px;
    text-align:center;
    transition: all 0.5s;
}
#navbar ul li a:hover{
    background-color: #444;
    color: #f7c08a;
}
/* 给首页的a标签单独加了个current的class在给他设置样式*/
#navbar ul li a.current{
    background-color: rgba(105, 105, 105,0.9);
    color: #f7c08a;
}
/* showcase主观部分陈列 */
#showcase{
    background: url(/img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
}
#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 50vh;
}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p{
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}
/* 按钮跳转about页面 */
.btn{
    /* 因为a是行元素给他转成行内块元素才能加上样式 */
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    /* 背景上下13px 背景左右20px */
    padding: 13px 20px;
    transition: all 0.5s;
    border-radius:80px;
}
.btn2{
    /* 因为a是行元素给他转成行内块元素才能加上样式 */
    border-radius:80px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    /* 背景上下13px 背景左右20px */
    margin-top:20px;
    padding: 13px 20px;
    transition: all 0.5s;
}
.btn:hover{
    background-color: #f7c08a;
}
.btn2:hover{
    background-color: #f7c08a;
}
.text-a:hover{
    color: #444;
}
/* features */
#featires h3 a{
    transition: all 1s;
}
#features h3 a:hover{
    color: white;
    transition: all 1s;
}
/* home-info底部阅览部分 左边图片 右边书架 */
#home-info{
    height: 600px;
    display: flex;
}
#home-info .info-img{
    /* float: left; */
    width: 50%;
    background:url(/img/infoimg.jpg) no-repeat center center/cover;
    height: 100%;
    position: relative;
    /* transition: all 1s; */
}
#home-info .info-img .mask{
    width: 100%;
    top: 0;
    height: 600px;
    background: rgba(50,50 ,50 , 0.6);
    position: absolute;
    opacity: 0;
    transition: all .3s;
}
#home-info .info-img .mask p{
    text-align: center;
    font-weight: 600;
    margin-bottom: 200px;
}
#home-info .info-img:hover .mask{
    opacity: 1;
    
}
#home-info .info-img h2{
    padding: 50px 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#home-info .info-content{
    /* float: right; */
    width: 50%;
    text-align: center;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
    background: url(/img/boli.jpg) no-repeat center center/cover;
}
.h2-left{
    color:darkseagreen;
    font-size: 28px;
    font-weight: 700;
}
/* 特点部分下三栏 */
#features{
    display: flex;
}
.box{
    /* float: left; */
    width: 33.3%;
    padding: 50px;
    text-align: center;
    background-color: #333;
}
.box i{
    margin-bottom: 10px;
}
.bg-yellow{
    background-color: #f7c08a;
    color: #333;
}
.bg-yellow1{
    background-color: rgba(169,169,169,.5);
    color: #333;
    height: 100px;
    margin-top: 100px;
}
.bg-light{
    background-color: lightgray;
    color: #333;
}
.text-flex{
    font-size: 16px;
    font-weight: 600;
}
/* About开始 ----------------------------- */
/* About ----------------------------- */
/* About ----------------------------- */
#about-info .info-left{
    float: left;
    width: 50%;
    height: 100%;
}
#about-info .info-right{
    margin-bottom: 45px;
    padding-top:100px;
    float: right;
    width: 50%;
    height: 100%;
}
#about-info .info-right img{
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 500px;
}
#testimonials{
    height: 800px;
    background: url(/img/about.jpg)no-repeat center center/cover;
}
#testimonials h2{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}
#testimonials .testimonial{
    /* paddding:30px; */
    margin-bottom: 40px;
    border-radius: 15px;
}
#testimonials .testimonial img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border:5px solid rgba(255,255,255,.5);
}
#testimonials .container h2{
    margin-top: 50px;
    color: #444;
    font-weight: 700;
    font-size: 40px;
}
/* About结束 */
/* contact开始*/
#contact-from{
    background: url(/img/showcase.jpg);
    height: 100vh;
}
#contact-from .form-group{
    margin-bottom: 20px;
}
#contact-from label{
    display: block;
    margin-bottom: 5px;
}
#contact-from input,
/* 整体 */
#contact-from textarea{
    width: 100%;

    padding: 10px;
    border: 1px solid #ddd;
}
/* H1标题样式 */
#contact-from .container h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    padding-top:70px;
}
/* 反馈内容的高度 */
#contact-from textarea{
    height: 200px;
}
/* 点击标签后先清除原有边框后更改边框颜色 */
#contact-from input:focus,
#contact-from textarea:focus{
    outline: none;
    border-color: #f7c08a;
}
/* 底部footer */
#main-footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
/* 单独样式 */
#home-info .info-content .kk{
        border-radius: 90px;
        margin-top:30px ;
        width: 120px;
        height: 120px;
        animation: kairun1 1s linear infinite;
        border: #333 solid 5px;
}
#home-info .info-content .imgboli{
    
    z-index: 1;
}
/* sidebar侧边栏 */
#showcase .nav-menu{
    /* display: flex; */
    /* flex-direction:row-reverse; */
    position: fixed;
    top: 40%;
    left: 97%;
}
#showcase .nav-menu a{
    color: #222;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#showcase .nav-menu .issue{
padding: 8px 4px 4px;
box-shadow: 0px 1px 9px lightblue;
line-height: 14px;
font-size: 4px;
width: 40px;
background-color: white;
text-align: center;
box-sizing: border-box;
border-radius: 50%;
margin-bottom: 10px;
transition: all 0.3s;
cursor: pointer;
letter-spacing: 1px;
}
#showcase .nav-menu .issue2{
padding: 8px 4px 4px;
box-shadow: 0px 1px 9px lightblue;
line-height: 14px;
font-size: 4px;
width: 40px;
background-color: white;
text-align: center;
box-sizing: border-box;
border-radius: 50%;
margin-bottom: 10px;
transition: all 0.3s;
cursor: pointer;
letter-spacing: 1px;
}
#showcase .nav-menu .issue2:hover{
    background-color: aquamarine;
}
#showcase .nav-menu .issue:hover{
    background-color: aquamarine;
}
/* 头像动画 */
@keyframes kairun1{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}
/* display none转block的过度动画 */
@keyframes show{
    0%{
        opacity: 0;
        background-color: rgba(50,50 ,50 , 0);
    }
    100%{
        opacity: 1;
        background-color: rgba(50,50 ,50 , 0.6);
    }
}
