@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1667199872914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  color: aqua;
  margin: 0px 20px;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxin:before {
  content: "\100da";
}

