@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1667357318637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e602";
}

.icon-xiaoche:before {
  content: "\e603";
}

.icon-tousujianyi:before {
  content: "\e604";
}

.icon-shujutongji:before {
  content: "\e605";
}

.icon-tongxunlu:before {
  content: "\e606";
}

.icon-tingchechang:before {
  content: "\e607";
}

.icon-yinshui:before {
  content: "\e608";
}

.icon-yiliao:before {
  content: "\e609";
}

.icon-minsu:before {
  content: "\e60a";
}

.icon-zixunjieda:before {
  content: "\e60b";
}

.icon-zufang:before {
  content: "\e60c";
}

.icon-yuyue:before {
  content: "\e60d";
}

.icon-guahao:before {
  content: "\e60e";
}

.icon-dianshizhibo:before {
  content: "\e60f";
}

.icon-aixinzhijia:before {
  content: "\e610";
}

.icon-minyuan:before {
  content: "\e611";
}

.icon-kefu:before {
  content: "\e612";
}

.icon-tianqi:before {
  content: "\e613";
}

.icon-shenqing:before {
  content: "\e614";
}

.icon-jiankong:before {
  content: "\e615";
}

